//
.homePage {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  &--left {
    width: 20%;
    background-color: var(--bg1);
    color: var(--col1);
    background-image: url("../images/2592543.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 20px 0px 70px -38px #171544;
    height: calc(100vh - 3px);
    .room {
      height: 40px;
      width: calc(100% - 20px);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: var(--bg3);
      color: var(--col3);
      margin-bottom: 10px;
      cursor: pointer;
      padding: 0px 5px;
      white-space: nowrap;
      transition: 0.3s;
      left: 0;
      position: relative;
      .fa-times {
        position: absolute;
        left: -43px;
        font-size: 21px;
        border: 1px solid;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        display: none;
      }
      &.slideRight {
        transform: translateX(35px);
        width: calc(100% - 40px);
        &:after {
          display: block;
          content: " ";
          width: 0px;
          height: 0px;
          border-left: 23px solid transparent;
          border-right: 0px solid transparent;
          border-top: 15px solid #757575;
          position: absolute;
          right: -4px;
          bottom: -19px;
          transform: rotate(270deg);
        }
        .fa-times {
          display: flex;
          color: #fb4149;
          &:hover {
            color: #bd2e35;
          }
        }
      }
      .fa-user-shield + i {
        margin-left: 5px;
      }
      i {
        margin-left: auto;
        margin-right: 10px;
      }
      &:hover,
      &.active {
        background: var(--bg4);
        color: var(--col4);
      }
      span {
        padding-left: 5px;
      }
      img {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
      }
    }
  }
  &--right {
    width: 80%;
    height: calc(100vh - 3px);
    &__top {
      height: 60px;
      display: flex;
      align-items: center;
      background: var(--bg1);
      color: var(--col1);
      padding: 0 25px;
      position: relative;
      #roomName {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      > p {
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        span {
          font-weight: 500;
        }
      }
      button {
        height: 35px;
        border: 1px solid var(--bg3);
        background: var(--bg4);
        color: var(--col4);
        transition: 0.3s;
        cursor: pointer;
        border: 0;
        font-size: 13px;
        margin-left: 5px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0 10px;
        > i {
          margin-right: 3px;
          font-size: 17px;
          position: relative;
          top: 1px;
        }
        &:first-of-type {
          margin-left: auto;
        }
        &:hover {
          background: var(--bg5);
          color: var(--col5);
        }
      }
    }
    &__cover {
      display: flex;
      height: 200px;
      align-items: center;
      justify-content: center;
      background-color: #ccc;
      > div {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          backdrop-filter: blur(10px);
          z-index: 0;
        }
      }
      img {
        height: 100%;
        position: relative;
        z-index: 1;
        margin: auto;
      }
    }
    &__messages {
      height: calc(100vh - 200px - 63px);
      background: var(--bg4);
      color: var(--col4);
      padding: 0px;
      padding-bottom: 90px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      overflow: hidden;
      padding: 5px;
      .msg-wrapper {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: calc(100vh - 370px);
        overflow-y: auto;
        padding: 20px;
        box-shadow: inset -1px -4px 70px -46px #000;
      }
      .msg {
        min-height: 30px;
        padding: 5px;
        background-color: #ccc;
        color: #222;
        width: auto;
        align-self: flex-start;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        flex-shrink: 0;
        max-width: 30%;
        word-break: break-all;
        >img {
          min-height: 200px;
          width: 300px;
          object-fit: contain;
          display: block;
          background-color: #00000045;
          margin-bottom: 5px;
          margin-top: 5px;
        }
        .userMsg {
          font-weight: 500;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
        }
        .text {
          font-size: 12px;
          font-weight: 400;
        }
        &.me {
          align-self: flex-end;
          background-color: rgb(29, 145, 29);
          color: #fff;
        }
      }
      .inputbar {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        border: 1px solid var(--col3);
        &.disable {
          pointer-events: none;
          border-color: #ccc;
          > i {
            pointer-events: none;
            color: #ccc;
          }
        }
        input {
          border: 0;
          background-color: var(--bg3);
          color: var(--col3);
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 0;
          padding-left: 90px;
          font-size: 15px;
          cursor: default;

          &::selection {
            background-color: var(--bg2);
            color: var(--col2);
          }
        }
        i {
          position: relative;
          z-index: 1;
          color: var(--col3);
          font-size: 25px;
          margin-left: 15px;
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }
  }
  .createRoom {
    margin-top: auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    background: var(--bg4);
    color: var(--col4);
    border: 0;
    border: 1px solid #ccc;
    padding: 7px 7px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: var(--bg4);
      color: var(--col4);
    }
    &::before {
      content: "";
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABuwAAAbsBOuzj4gAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAZXSURBVHic7Zt/jFRXFcc/59xhAelWXImhBKNIrbINmxSr26pJV1ON2dpugiWypiBJ1YjUsHRbLa3tMNWWpXTt0h82aUOjBWWTiYZtK5qGKCS2SkBMljDYRIpNSeUP3BAopfx49/jHzsLMmzezu+ybmTUz32TyMueed945nzfvvjvv3StmRiU1MMBHzfydzuTranxCvaHGmxLwCujmry7l7UrmI5UCsH07M73zSTW5S4yEelCDLADUgxgX1Hhaz2qqbQUnKpFX2QGk0zibwXfV7KdqzMoWShEAI/bjzvPgsWn6/JIlBOXMr6wAtv6RtgS2SY2WSwWPCcDIdhDvV39xRWJXuXIsC4AtrzJP1Daq5xuhgsYLYHjr5bfq5d7PfYcjcecaK4AtrzIjmOLvd17uFmPacPKRAN5zJo/ZeV6cCiB+uQT8SIwPRAMAMd6XgJ9Pm66PtizjdFw5xwVANu/mDsV61DMn72yGCzL7jT+vP168mKO5Af7wa+ZOcX6Der5VBMCI7R31dt9133dbgQknP2EAz/2FVjHbpEZr5M/8km0fyOrbb+H1UvH+1M/n1QebNJDriwDIbm2PeLe6ZRV7JpL/ZQN4+jXmOPx6RZapR4pe555j4uX+b7bzS8Z+xmT31mCF8/KoemaX6B9MjC1T0LWfuot3LqeOcQN46l9MZYhu522teq4o1nGJcc4F1jfjrP7stts4dTnJvfYCjSL+J2p0idFQokN9V431CdXeq3/I2fEcY1wA+vayWOFx9TZvlJ57wIt0f/vLHB531RF6/VfMdxesV711jHJHOSKeez7Z7X431thjAvD4floU+tTzpVFuXQcd0rW8jZ0TqriI9j1/4WYx7VPPtSVvqcafxYKuefc0DI4WsySA3r8zyzseVuN7YrgS9+4hRZJXHuPZco/c0mnc/P/6lc5IqaepxJgiUM9zDQn30FXdHC8WryiAnoN0SsAv1JhZYvASqNmzTjV5540Mla3qCGU20xSc8SmBlepxRX+ZcMJd4AdzHnDbouJEAngkw3r13DfK6G2nBdK16gscLHu1JZR5hmsJrE/Nbi45qgys56oHE2vD+xcAePgQy5zxYngQkxPwsPN0r2ploGJVjkFvPBl0iKdXPfMjAXhwnuUfechtyd0vD8ATR5n+7imOqtEUAeCUMx45MZ0nks2cq3iFY1AmRUNDo1+j3h4QozEMQI2h81e4uXPXcGZkH80NcPI0nUBTROz+IOCa1Z9hw2QtHqA5ybmr79YNau4aM/ojXJqmngw6cw2JvGahNbyHQX/3dXSG7ZNZH7+XY+A639oQACzNbTNoBV4Y+Z4PwPhYQTQhsvecqFIp9LMttBME7D3odiST+LiPocI2LB+AkF+j5u/CtIIgnpNxJ5ZKoYta7ICZvSzIyzc0+wOpVEEuE1bgLSr3vBpjP+hY1NJCO9CcY2q+8dNBezVyqQoAEX99gdGk0FYBVQXAZFIdQLUTqLbqAKqdQLVV8wASo7uMT+k07uwsbiHwiy7+CRn5kN2qtIUfmwjWtrPfr4v09wC2/+1G9/u4H7jECiCdxr33YTugngWCXGqQ7Cf7x9OM3Nasj9yEcVOUP4CYMO+EP5RO68I4IcR6CZyeRQfCgjhj5spgwfyhoCPOmDXfB8QKYMZxBjAOxRkzVwKHDje5WJ9ExdoHLFlCkE7LwpFO8GKDkX89i7RB9nq/6GO7QXZF+QOY2P4jMyd5JwjDEICXQF8q5rN9u1/nkDwAhuz6ylJdVyr2DfGkmKd6H1DtBKqtOoBqJ1Bt1QFUO4FqqyoAzHRfgVGs0FYBVQXA4CA7gEyOKfPXf7od1cglDOD9sINXroz7oMkkfv+gLBSRWw279W8ZXViOFyNOJSr3vBrDr8beKnA3OoGio7rLVbbgV8DRfnvc0Yfljc7wGTbya9RQa8GUM4Glvf9g28a9zI4/xfLo3xuZ/eZjwTZC7wUBhPwa66/HcwOsmcsZg64i8RvN6PnQaTLP7CHWhxJx6I0ng47EB4MMWA/QGOUjRldu8cO2+hSZ+iSpogep6WlyuarZiZJh1exU2VzV9GTpXNXsdPmwanbBRDhOzS6ZyVUtL5rKU80umwvr/2HhZFmfCN3xNXa5U7IIk5VQfDQWoeMCK/8zXReVs3ioL56uHIARTbbl8/8Dx5gQcNdNzNkAAAAASUVORK5CYII=");
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      margin-right: 5px;
    }
  }
}
.popUpForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 165px), -50%);
  background: var(--bg2);
  border: 1px solid var(--bg5);
  width: 40%;
  min-width: 300px;
  z-index: 2;
  &--field {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:last-child {
      background-color: var(--bg5);
      color: var(--col5);
      opacity: 0.7;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      button {
        border: 0;
        background: var(--bg2);
        color: var(--col2);
        cursor: pointer;
        text-transform: uppercase;
      }
    }
    span {
      width: 30%;
    }
    input {
      flex-grow: 1;
      border: 0;
      background: var(--bg3);
      color: var(--col3);
      padding: 4px;
    }
    > i {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border: 1px solid;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin-right: 10px;
      &.active {
        color: var(--col3);
      }
    }
  }
  &--title {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background: var(--bg5);
    font-weight: 600;
    color: var(--col5);
    position: relative;
    margin-bottom: 30px;
    i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      cursor: pointer;
    }
  }
}
.ddMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg3);
  padding: 2px 14px;
  border-radius: 13px;
  color: var(--col3);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: rgb(151, 11, 11);
    color: #fff;
  }
  i {
    margin-left: 5px;
  }
}
.emojis {
  display: flex;
  flex-flow: column;
  background: var(--bg3);
  border: 2px solid #d4d4d4;
  height: 250px;
  width: 100%;
  max-width: 400px;
  &--categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-shrink: 0;

    &::-webkit-scrollbar {
      height: 5px;
    }
    span {
      background: transparent;
      color: #222;
      border: 1px solid #ccc;
      margin-right: 5px;
      flex-shrink: 0;
      transition: 0.3s;
      padding: 2px 5px;
      cursor: pointer;
      text-transform: capitalize;
      &.active {
        border: 1px solid var(--col3);
        color: var(--col3);
      }
    }
  }
  &--icons {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    flex-grow: 1;
    > span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      cursor: pointer;
    }
    > div {
      margin: auto;
      font-size: 16px;
    }
  }
}
.topLoading {
  height: 3px;
  width: 100%;
  flex-shrink: 0;
  background: #7cacff;
  &.load {
    background: linear-gradient(268deg, #e500c7, #347bf7, #feaa07, #3d29e1);
    background-size: 800% 800%;
    animation: AnimationName 2s ease infinite;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.uploadWrapper {
  >input {
    display: none !important;
  }
  label {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
}